body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
}

/* Main content section */

.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 5px 0;
}

.main-content-list {
  list-style: none;
}

/* About me section */

.about-me-section {
  margin: 0 0 20px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin: 0 0 10px 0;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #022b08;
  margin: 0 0 15px 0;
}

.about-me-discription {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My prohect section */

.my-project-section {
  margin: 0 0 25px 0;
}

.my-project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 0 17px;
}

.my-project-item {
  width: 300px;
  color: #000;
  font-weight: 700;
  margin-bottom: 7px;
}

.my-project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-flex {
  display: flex;
  align-items: center;
}

.project-name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
  color: #000;
}

.project-link {
  color: #000;
}

.my-project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}
.my-project-git {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.my-project-brecket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/* My work experience company */

.my-work-experience-section {
  margin-bottom: 25px;
}

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-work-experience-divider {
  color: #000;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-company-block {
  margin: 0 0 10px 0;
}
/* My education */
.my-education-section {
  margin-top: 20px;
}

.my-education-place {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}

.my-speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 10px 0;
}

.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-education-divider {
  color: #000;
}

/* Sidebar section*/

.my-photo {
  width: 370px;
}

.sidebar-section {
  background: #000000;
  width: 370px;
  padding: 40px 0;
}
.contacts-section,
.tech-skills-section {
  list-style: none;
  margin: 50px 0 0 40px;
}
.soft-skills-section,
.my-language {
  margin: 45px 0 0 40px;
}
.sidebar-title,
.my-language-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

.sidebar-paragraf {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}
/* Contacts section*/
.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.contacts-section-link {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/* Tech & Soft skills section*/
.tech-skills-list,
.soft-skills-list,
.my-language-list {
  padding: 0 0 0 17px;
}
.tech-skills-item,
.soft-skills-item,
.my-language-item {
  color: #fb6d3a;
}
.tech-skills-item-text,
.soft-skills-item-text,
.my-language-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
